<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>管理员主页</title>
</head>
<body>
当前用户 id:
<span th:text="${session.USER_SESSION.email}"></span><br/>
<a href="posts/edit.html" th:href="@{/admin/edit}">信息更新</a>
<a href="posts/post-add.html" th:href="@{/posts/post}">发布博客</a>
<a href="posts/aritcle-manage.html" th:href="@{/admin/article-manage}">管理博客</a>
<a href="posts/comment-manage.html" th:href="@{/admin/comment-manage}">管理评论</a>
</body>
</html>