<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/manage.css}"/>
    <title>博客管理</title>
</head>

<body>
    当前用户 id:<span th:text="${session.USER_SESSION.email}"></span><br/>
    <h1>博客管理</h1>
    <div th:if="${!#lists.isEmpty(articles)}">
        <table border="1px">
            <tr>
                <th>postId</th>
                <th>标签</th>
                <th>标题</th>
                <th>简介</th>
                <th>内容</th>
                <th>日期</th>
                <th>是否更新</th>
                <th>是否删除</th>
            </tr>
            <tr th:each="article:${articles}">
                <td th:text="${article.id}">Bill Gates</td>
                <td th:text="${article.tag}">Bill Gates</td>
                <td th:text="${article.title}">55577854</td>
                <td th:text="${article.profile}">55577855</td>
                <td th:text="${article.body}" id="article-body">Bill Gates</td>
                <td th:text="${article.date}">55577854</td>
                <td><a th:href="@{'/posts/update?id=' + ${article.id}}">修改文章</a></td>
                <td><a th:href="@{'/posts/delete?id=' + ${article.id}}">删除文章</a></td>
            </tr>
        </table>
    </div>
</body>
</html>

