<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="stylesheet" th:href="@{/css/examples/style.css}" />
    <link rel="stylesheet" th:href="@{/css/editormd.css}" />
    <link rel="stylesheet" th:href="@{/css/post-article.css}">
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div th:insert="layout::header"></div>
    <div th:insert="layout::headFragment"></div>
    <div id="layout">
        <div id="article-head">
            <h1 th:text="${post.title}"></h1>
            <h2 th:text="${post.tag}"></h2>
        </div>
        <div id="test-editormd">
            简介:
            <p th:text="${post.profile}"></p>
            <textarea style="display:none;" th:text="${post.body}"></textarea>
        </div>
    </div>

    <script th:src="@{/js/examples/jquery.min.js}"></script>
    <script th:src="@{/lib/marked.min.js}"></script>
    <script th:src="@{/lib/prettify.min.js}"></script>
    <script th:src="@{/lib/raphael.min.js}"></script>
    <script th:src="@{/lib/underscore.min.js}"></script>
    <script th:src="@{/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/lib/flowchart.min.js}"></script>
    <script th:src="@{/lib/jquery.flowchart.min.js}"></script>
    <script th:src="@{/js/editormd.min.js}"></script>

    <script type="text/javascript">
            var testEditor;

            $(function() {
                testEditor = editormd.markdownToHTML("test-editormd", {
                    width: "90%",
                    height: 700,
                    path: "../lib/",
                    preview: true,
                    watch: true,
                    editor: false,
                })
            })
    </script>
</body>
</html>