<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/me/about.css}"/>
    <title>关于作者</title>
</head>
<body>
        <div th:insert="layout::head"></div>
        <div th:insert="layout::header"></div>
        <main>
            <h1>
                信息展示
            </h1>
            <img th:src="${(user.avatar!=null)?user.avatar:'/img/avatar-default.jpg'}" name="avatar" alt="暂无图片" width="50px" height="50px">
            <br/>
            <dt>昵称</dt>
            <dd th:text="${user.name}" id="name">略</dd>
            <br>
            <dt>邮箱</dt>
            <dd th:text="${user.email}" id="email" name="email">略</dd>
            <br>
            <br>
            <dt>微信号</dt>
            <dd th:text="${user.wechatId}" id="wechatId">略</dd>
            <br>
            <br>
            <dt>简介</dt>
            <dd th:text="${user.intro}" id="intro">略</dd>
            <br>
        </main>
</body>
</html>