body {
    margin: 0;  /*2021-04-07 18:00:19 header 两端贴合*/
}

header {
    height: 80px;
    box-shadow: 0px 5px 5px #ccc;   /*2021-04-07 17:59:52 header 阴影效果*/
    text-indent: 100px;             /*2021-04-07 18:11:27 logo 左边距*/
    line-height: 80px;
}

header a {
    display: inline-block;
    width: 50px;
    margin: 0 30px;
    font-size: 18px;
}

header img {
    vertical-align: middle;     /*2021-04-07 18:20:45 logo 垂直居中*/
}