<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/> <!-- 2021-04-07 17:38:26 index.css 引入-->
</head>
<body>
    <div th:insert="layout.html :: headFragment"></div> <!--2021-04-07 17:38:40 layout.css 和 index.css 并存的方法: 不在head里面引入片段-->

    <header th:insert="layout::site-header"/>

    <nav>
        <ul class="tag">
            <li><a th:href="@{/posts/tag/python}">Python</a></li>
            <li><a th:href="@{/posts/tag/Java}">Java</a></li>
            <li><a th:href="@{/posts/tag/MySQL}">MySQL</a></li>
            <li><a th:href="@{/posts/tag/js}">js</a></li>
            <li><a th:href="@{/posts/tag/css}">css</a></li>
            <li><a th:href="@{/posts/tag/other}">others</a></li>
        </ul>
        <!-- 2021-04-07 14:47:39-->
    </nav>

    <div class="main-container">
        <main>
            <div class="article" th:if="${#lists.isEmpty(posts)}">
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
                <article>
                    <div><a href="#"><h2>title</h2></a></div>
                </article>
            </div>
        </main>
        <aside>
            <div class="ad-block">ad-block</div>
            <div class="user-block">user_block</div>
        </aside>
    </div>

    <footer th:replace="layout::site-footer"/>
</body>
</html>