<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headFragment">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
<!--    <link rel="icon" th:href="@{/img/avatar-default.jpg}"/>-->
<!--    <script th:src="@{/js/jq.js}"></script>-->
</head>
<body>
    <header th:fragment="site-header">
        <a href="index.html" th:href="@{/}"><img src="../static/img/site-logo.png"
                                                 th:src="@{img/site-logo.png}"/></a>
        <a href="index.html" th:href="@{/}">Home</a>
        <a href="/posts/index.html" th:href="@{/posts}">Posts</a>

        <a href="/me/about.html" th:href="@{/me/about}">About</a>

    </header>
    <h1>Welcome</h1>
    <p>Welcome to the Spring MVC Blog.</p>
    <footer th:fragment="site-footer"> &copy; Spring MVC Blog System, 2021</footer>
</body>
</html>
