<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boot.no.dao.PostDao">

    <insert id="addPost" parameterType="post">
            INSERT INTO post(tag, title, profile, body, date)
            VALUES (#{tag}, #{title}, #{profile}, #{body}, #{date})
    </insert>

    <!--查询所有博客-->
    <select id="listPost" resultType="post">
            SELECT * from post
    </select>

    <!--按 tag 分类-->
    <select id="byTag" resultType="post" parameterType="String">
            SELECT title, date, id
            FROM post
            WHERE tag = #{tag}
    </select>

    <!--首页显示-->
    <select id="lastest" resultType="post">
            SELECT title, date, id
            From post
            Limit 10
    </select>

    <!--按标题展示
    左连接查询-->
    <select id="byPostId" parameterType="Long" resultMap="PostWithCommentResult">
            select p.*, c.author, c.content, c.status
            from post p
            left join comment c
            on p.id = c.postId
            where p.id = #{id}
    </select>

    <resultMap type="Post" id="PostWithCommentResult">
        <id property="id" column="id"/>
        <result property="tag" column="tag"/>
        <result property="title" column="title"/>
        <result property="profile" column="profile"/>
        <result property="body" column="body"/>
        <result property="date" column="date"/>
        <collection property="comments" ofType="Comment">
            <id property="commentId" column="commentId"/>
            <result property="author" column="author"/>
            <result property="content" column="content"/>
            <result property="email" column="email"/>
            <result property="status" column="status"/>
        </collection>
    </resultMap>

    <delete id="deleteById" parameterType="Long">
            delete from post
            where id = #{id}
    </delete>

    <update id="updatePost" parameterType="post">
            update post
            set tag = #{tag}, title = #{title}, profile = #{profile}, body = #{body}, date = #{date}
            where id = #{id}
    </update>
</mapper>